ion-content ion-toolbar {
  --background: translucent;
}

h1{
  text-align: center;
}

p{
  text-align: center;}
ion-button{
 
  
  justify-content: center;
  margin: 4%;
}

ion-content{
  --background: rgba(134, 184, 218, 0.945);
}
