<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Macbeth
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Fragmento de Macbeth</h1>
  <p>SEGUNDA ESCENA<br>
    Campamento cerca de Forresa<br>
    
    Dentro hay alboroto y confusión.<br>
    Llegan Duncan, Malcolm, Donalbain, Lennox, con su séquito.<br>
    Hacia ellos se acerca un Sargento sangrando.<br>
    
    DUNCAN:
    ¿Qué hombre es ése? Según se ve por sus heridas, puede darnos las últimas noticias de la batalla.<br>
    
    MALCOLM:
    Éste es el sargento que luchó como intrépido y buen soldado para librarme de caer prisionero. ¡Hola, bravo amigo! Di al Rey cómo iba la batalla cuando tú la dejaste.<br>
    
    SARGENTO:
    Dudosa se presentaba: lo mismo que si dos nadadores se agarraran uno al otro para luchar, dejando paralizadas sus artes. Al cruel Macdonwald, que nada mejor que rebelde puede ser, porque a su alrededor se juntan cuantas bastardías multiplica la naturaleza, se le han unido desde las islas occidentales todos los patanes y candidatos a presidio; y la fortuna, sonriendo a su maldita causa, le presta caricias de ramera. Pero de muy poco le vale. Porque el bravo Macbeth -que bien merece ser nombrado así-, favorito predilecto del valor, sin parar mientes en la fortuna, se abre paso, desnuda la espalda un millar de veces bañada en sangre, hasta ponerse frente al esclavo que nunca estrechó sus manos ni se despidió al modo caballeresco, y sólo da paz al acero cuando tiene a su adversario destrozado a cintarazos asestados del pecho a las quijadas y cuelga su cabeza sobre nuestras torres.<br>
    
    DUNCAN:
    ¡Oh, esforzado primo, caballero digno de honor!<br>
    
    SARGENTO:
    Así como del Oriente donde el Sol nace estallan tempestades horribles y ensordecedores truenos, de esa victoria que parecía traernos satisfacciones se produce la inquietud. Escucha, Rey de Escocia, escucha: apenas la justicia se unió a la fuerza, obligó a esos villanos saltarines a confiar en sus talones; pero el señor de Noruega, con armas brillantes y fuertes refuerzos de hombres, comenzó ventajosamente un nuevo ataque.<br>
    
    DUNCAN:
    ¿Desfallecieron ante el asalto nuestros capitanes Macbeth y Banquo?<br>
    
    SARGENTO:
    ¿Intimidan, acaso, el gorrión al águila y la liebre al león? Si se me permite decirlo, he de informarle que lo mismo que cañones de doble carga, de igual modo redoblaron sus golpes contra el enemigo; a menos que quisieran bañarse en el vapor de las heridas o dejar memoria de otro gólgota, no acierto a pensar lo que intentaban ... Pero me desmayo: los tajos y mandobles que recibí están reclamando alivio.<br>
    
    DUNCAN:
    Tanto te elevan tus palabras como tus heridas: unas y otras respiran honor. ¡Llévenlo a curar!</p>

    <ion-button color="success">Anterior</ion-button>
    <ion-button color="dark">Siguiente</ion-button>

</ion-content>


