<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      La puta de babilonia - Fernando Vallejo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Fragmento de la puta de babilonia - Fernando Vallejo</h2>
  <p>La puta, la gran puta, la grandísima puta, la santurrona, 
    la simoníaca, la inquisidora, la torturadora, la falsificadora, la asesina, la fea, la loca, 
    la mala; la del Santo Oficio y el Índice de Libros Prohibidos; la de las Cruzadas y la Noche de San Bartolomé;
    la que saqueó a Constantinopla y bañó de sangre a Jerusalén; 
    la que exterminó a los albigenses y a los veinte mil habitantes de Beziers; 
    la que arrasó con las culturas indígenas de América; la que quemó a Segarelli en Parma, 
    a Juan Hus en Constanza y a Giordano Bruno en Roma; la detractora de la ciencia, la enemiga de la verdad,
    la adulteradora de la Historia; la perseguidora de judíos, la encendedora de hogueras, 
    la quemadora de herejes y brujas; la estafadora de viudas, la cazadora de herencias,
    la vendedora de indulgencias; la que inventó a Cristoloco el rabioso y a Pedropiedra el estulto;
    la que promete el reino soso de los cielos y amenaza con el fuego eterno del infierno;
    la que amordaza la palabra y aherroja la libertad del alma; la que reprime a las demás religiones
    donde manda y exige libertad de culto donde no manda; la que nunca ha querido a los animales ni les
    ha tenido compasión; la oscurantista, la impostora, la embaucadora, la difamadora, la calumniadora,
    la reprimida, la represora, la mirona, la fisgona, la contumaz, la relapsa, la corrupta, 
    la hipócrita, la parásita, la zángana; la antisemita, la esclavista, la homofóbica, la misógina;
    la carnívora, la carnicera, la limosnera, la tartufa, la mentirosa, la insidiosa, la traidora,
    la despojadora, la ladrona, la manipuladora, la depredadora, la opresora; la pérfida, la falaz,
    la rapaz, la felona; la aberrante, la inconsecuente, la incoherente, la absurda; la cretina,
    la estulta, la imbécil, la estúpida; la travestida, la mamarracha, la maricona; la autocrática,
    la despótica, la tiránica; la católica, la apostólica, la romana; la jesuítica, la dominica,
    la del Opus Dei; la concubina de Constantino, de Justiniano, de Carlomagno; la solapadora 
    de Mussolini y de Hitler; la ramera de las rameras, la meretriz de las meretrices, la puta
    de Babilonia, la impune bimilenaria tiene cuentas pendientes conmigo desde mi infancia y
    aquí se las voy a cobrar.</p>

    <ion-button color="success">Anterior</ion-button>
    <ion-button color="danger">Siguiente</ion-button>
</ion-content>
